.welcome {
    text-align: center;
    font-size: 30px;
    }
    
    h1 { 
        text-align: center;  
    }
    
    div { 
        margin-top: 10%;
        text-align: center ;
    
    }
    
    .start {
        border-radius: 15px;
        background-color: pink;
        font-size: x-large;    
    }
    
    .top {
    position: fixed;
    margin-left: 85%;
    margin-top: -300px;
    }